.navbar {
    &.bg-dark{
        background-color: $dark-grey!important;
    }
    .navbar-brand {
        img {
            height: 2rem;
        }
    }
}

.jumbotron {
    position: relative;
    &::before{
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.6;
        background-position: center;
        background-image: url(http://thecarrot.local/images/wonkycarrot.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .vertical-align{
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            margin: 1rem 0;
        }
    }
    img{
        width:90%;
    }
    .btn-primary {
        padding: 1rem 2rem;
        border-radius: 2rem;
        text-transform: uppercase;
    }
    .jumbo-quote {
        text-align: center;
        margin-top: 5rem;
        p.quote{
            font-size:1.5rem;
        }
        p.quote-source{
            
        }
    }
}