// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Acumin Variable Concept'!important;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$brand-primary: #fd7022;
$brand-secondary: #3db149;
$dark-grey: #3c3c3c;
$grey: #b5b5b5;
$light-grey: #e7e7e7;
$white: white;
$black: black;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.btn-primary {
    background-color: $brand-secondary !important;
    border-color: $brand-secondary !important;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgb(61,177,73, 0.5)!important;
    }
}

.btn-orange {
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
}

.margin-0 {
    margin-bottom: 0 !important;
}

.margin-top-5 {
    margin-top: 5rem;
}

.center {
    text-align: center;
}

.dark-grey {
    background-color: $dark-grey !important;
    color: $white;
    table {
        color: $white;
    }
}

.orange {
    background-color: $brand-primary !important;
    color: $white;
}

.green {
    background-color: $brand-secondary !important;
    color: $white;
}

.white {
    background-color: $white !important;
    color: $black;
}

.grey {
    background-color: $grey !important;
}

.light-grey {
    background-color: $light-grey !important;
}

img{
    max-width:100%;
    max-height:100%;
}

h1, h2{
    font-weight: 600 !important;
}
