// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Helvetica'!important;
$font-size-base: 1rem;
$line-height-base: 1.6;

$brand-primary: #fd7022;
$brand-secondary: #3db149;
$dark-grey: #3c3c3c;
$grey: #b5b5b5;
$light-grey: #e7e7e7;
$white: white;
$black: black;

$theme-colors: (
    "primary": $brand-primary,
    "secondary": $brand-secondary
);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

html{
    scroll-behavior: smooth;
    .fade{
        transition: opacity ease-in-out 0.5s;
    }
    main{
        margin-top:6rem;
    }
}

img{
    max-width:100%;
    max-height:100%;
}
